<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Gary's To do App</title>
<!--    Adding Boot strap config-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-dark bg-primary"  >
    <div class="container-fluid">
        {% if user.is_authenticated %}

                    <h1 class="navbar-brand float-start"><b>{{user.first_name}}'s Todo List</b></h1>
                <h5 class="navbar-brand float-end"><b>Welcome, {{user.first_name}}!</b></h5>
                    <form action="{% url 'accounts:logout' %}">
                        <button class='btn btn-danger btn-sm' type="submit">Logout</button>
                    </form>


        {% else %}
                <h1 class="navbar-brand"  ><b>My Todo List</b></h1>
               <form action="{% url 'accounts:login' %}">
                    <button class='btn btn-info btn-sm ' type="submit"><b>Login</b></button>
               </form>
               <form action="{% url 'accounts:register' %}">
                    <button class='btn btn-warning btn-sm' type="submit"><b>Register</b></button>
               </form>
            {% endif %}

    </div>
</nav>

<div class="container">
{% block content %}

{% endblock %}
</div>
</body>
</html>