{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<br><br>
<a href="{% url 'todo:home' %}"><b>View Your Todo list</b></a>
{% else %}
            <h5>Sorry! You must login to view your items.</h5>
            <span class="align-top">
                <a href="{% url 'accounts:login' %}">
                    <button class='btn btn-info btn-sm ' type="submit"><b>Login</b></button>
               </a>
                </span>
                <span class="align-top">
                <a href="{% url 'accounts:register' %}">
                    <button class='btn btn-warning btn-sm' type="submit"><b>Register</b></button>
               </a>
                </span>

{% endif %}
{% endblock %}