{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="container">
        <h3> User Login:</h3></br>
        <div class="foat-start">
            <div class= "form-text">Username :</div>
            <div class="form-text"><input type="text" name="username" class="form-control"></div>

            <div class="form-text">Password :</div>
            <div class="form-text"><input type="password" name="password" class="form-control"></div>
        </div>

        <div class="float-end">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>

        <div class="text-danger">
           {% for message in messages %}
                {{message}}
          {% endfor %}
      </div>

    </div>

</form>


{% endblock %}